<h1>Month expenses</h1>

<h2>Total Amount: <%= number_to_currency(@sum_expenses_current_month, unit: current_user.currency) %></h2>

<%= render 'expenses/expenses_table', expenses: @expenses %>

<br>

<%= link_to 'Expenses', expenses_path %>

<%= link_to 'Smart Expenses', smart_expenses_path %>

<%= link_to 'Categories', categories_path %>
