<%= form_with(model: smart_expense, local: true, builder: InlineErrorsFormBuilder, class: 'form') do |form| %>
  <div class='form__field'>
    <%= form.label :expression %>
    <%= form.text_field :expression, id: :smart_expense_expression, class: 'input', required: true %>
    <%= form.inline_errors :expression %>
  </div>

  <div class='form__field form__field--currency'>
    <%= form.label :amount %>
    <span>
      <%= form.number_field :amount, min: 0, step: 'any', id: :smart_expense_amount, class: 'input' %>
      <%= current_user.currency %>
    </span>
    <%= form.inline_errors :amount %>
  </div>

  <div class='form__field'>
    <%= form.label :description %>
    <%= form.text_area :description, id: :smart_expense_description, class: 'h-fixed-textarea' %>
    <%= form.inline_errors :description %>
  </div>

  <div class='form__field'>
    <%= form.label :categories %>
    <%= form.collection_select :category_ids, current_user.categories, :id, :name, {},
      {
        multiple: true,
        id: :expense_categories,
        class: 'h-fixed-select'
      }
    %>
    <%= form.inline_errors :categories %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
