<%= form_with(model: category, local: true, builder: InlineErrorsFormBuilder, class: 'form') do |form| %>
  <div class='form__field'>
    <%= form.label :name %>
    <%= form.text_field :name, id: :category_name, class: 'input' %>
    <%= form.inline_errors :name %>
  </div>

  <div class='form__actions'>
    <%= form.submit %>
  </div>
<% end %>
