<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table class='actionable-table'>
  <thead>
    <tr>
      <th>Name</th>
      <th class='actionable-table-actions'></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td class='actionable-table-actions'>
          <%= link_to 'ðŸ‘€', category, class: 'emoji-link' %>
          <%= link_to 'âœï¸', edit_category_path(category), class: 'emoji-link' %>
          <%= link_to 'ðŸ’£', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'emoji-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
