<%= form_with(model: expense, local: true, builder: InlineErrorsFormBuilder, class: 'form') do |form| %>
  <div class='form__field form__field--currency'>
    <%= form.label :amount %>
    <span>
      <%= form.number_field :amount, min: 0, step: 'any', id: :expense_amount, class: 'input', required: true %>
      <%= current_user.currency %>
    </span>
    <%= form.inline_errors :amount %>
  </div>

  <div class='form__field'>
    <%= form.label :description %>
    <%= form.text_area :description, id: :expense_description, class: 'h-fixed-textarea', required: true %>
    <%= form.inline_errors :description %>
  </div>

  <div class='form__field'>
    <%= form.label :categories %>
    <%= form.collection_select :category_ids, current_user.categories, :id, :name, {},
      {
        multiple: true,
        id: :expense_categories,
        class: 'h-fixed-select',
        required: true
      }
    %>
    <%= form.inline_errors_categories %>
  </div>

  <div class='form__field form__field--date'>
    <%= form.label :date %>
    <%= form.date_select :created_at, id: :expense_date %>
  </div>

  <div class='form__actions'>
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_tag do %>
  window.smart_expenses = <%= @smart_expenses.to_json.html_safe %>;
<% end %>
