<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@expense.amount, unit: current_user.currency) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @expense.categories.pluck(:name).join(', ') %>
</p>

<p>
  <strong>Date:</strong>
  <%= l @expense.created_at, format: :short %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
